{% extends "authentication/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div style="width: 300px; height: 300px;">
        <canvas id="myChart"></canvas>
    </div>
    {{ predict }}
    <script>
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [
                    'Spending',
                    'Income',
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [parseFloat("{{ spending }}"), parseFloat("{{ income }}")],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                    ],
                    hoverOffset: 4
                }]
            },
        })
    </script>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
            {% load mathfilters %}
            {% for t in transactions.transactions %}
                <tr>
                    <th scope="row">{{ t.transaction_id }}</th>
                    <td>{{ t.name }} </td>
                    <td>{{ t.amount|mul:-1 }}</td>
                    <td>{{ t.category|join:"/" }}</td>
                    <td>{{ t.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for t in transactions %}
        {{ r }}
    {% endfor %}
{% endblock %}
